* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: white;
}

body {
  background-color: #14213d;
}

.main-container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main {
  flex: 1;
}

.header,
.footer {
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: 900;
}

.footer a {
  text-decoration: none;
  color: #FCA311;
}

.main {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.leftbar,
.rightbar,
.mainbar {
  border: 1px solid white;
  min-width: 100px;
}

.board {
  width: 500px;
  height: 500px;
  border: 1px solid white;
  background-color: #E5E5E5;

  display: flex;
  flex-direction: column;
}

.row {
  flex: 1 1 0;

  display: flex;
}

.cell {
  flex: 1 1 0;
  border: 0.1px solid rgba(255, 166, 0, 0.2);
}

.filled {
  background-color: black;
}